{% extends 'layout.html' %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}"> {% endblock %}
    <title>{% block title %}Available Courses{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="cards">
        {%  for course in courses %}
            <div class="card">
                <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
                <div class="card-copy">
                    {{ course.description }}
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}
</body>
</html>